@model IEnumerable<TomorrowsVoice_Toplevel.ViewModels.MessageVM>

<div class="chat" @* style="display: flex;flex-direction: column-reverse;" *@>
	@foreach (var message in Model)
	{
		<div class="shadow-sm p-3 mb-2 bg-body rounded">
			@if (message.Avatar == null)
			{
				<i class="bi bi-person-circle" alt="Avatar" class="avatar"></i>
			}
			else
			{
				<img src="@message.Avatar" alt="Avatar" class="avatar">
			}
			<span class="fw-bold ms-2">@message.Name</span>
			<span class="timestamp">@message.CreatedOn.ToString("g")</span>
			<p class="mb-0">@message.Content</p>
		</div>
	}
</div>

<style>
	.chat {
		scroll-snap-type: y proximity;
	}
	.chat:last-child {
		scroll-snap-align: end !important;
	}
	.bg-body {
		background-color: #fff !important;
	}

	.avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		vertical-align: middle;
	}

	.timestamp {
		float: right;
		color: #aaa;
	}
</style>