@namespace TomorrowsVoice_Toplevel
@using TomorrowsVoice_Toplevel.Utilities
@using Newtonsoft.Json

@{
	List<Alert> alerts = new List<Alert>();

	if (TempData.ContainsKey(Alert.TempDataKey) && TempData[Alert.TempDataKey] != null)
	{
		var tempDataValue = TempData[Alert.TempDataKey].ToString();
		if (!string.IsNullOrEmpty(tempDataValue))
		{
			alerts = JsonConvert.DeserializeObject<List<Alert>>(tempDataValue);
		}
	}
	if (alerts.Any())
	{
		<hr />
		@foreach (var alert in alerts)
		{
			<div class="alert alert-@alert.AlertStyle @(alert.Dismissable ? "alert-dismissible fade show" : "")" role="alert">
				@if (alert.Dismissable)
				{
					<button type="button" class="close btn btn-outline-primary" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				}
				@alert.Message
			</div>
		}

	}
}