@model int

@{
	<a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-outline-detail" id="crud"
	   role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
		<i class="bi bi-search"></i>
	</a>

	<a asp-action="Recover" asp-route-id="@Model" class="btn btn-sm btn-outline-danger"
	   role="button" data-bs-toggle="tooltip" title="Recover @ViewData["ControllerFriendlyName"]">
		<i class="bi bi-arrow-clockwise"></i>
	</a>
}