<div class="d-flex justify-content-evenly justify-content-lg-end align-items-center p-2 p-lg-0">
	<a asp-action="Index" class="btn btn-outline-dark mx-lg-3"><i class="bi bi-eraser-fill"></i> Clear</a>
	<button type="submit" name="actionButton" value="Apply" class="btn btn-outline-primary mx-lg-3">
		<i class=" bi bi-funnel-fill"></i>Apply
	</button>
</div>
		</div>
	</div>
</div>