@{
	if (ViewData["ActionName"].ToString() == "Create")
	{
		@:
		<div class="row form-footer">
			<div class="form-group col-md-6">
				<input type="submit" value="Create" class="btn btn-primary" /> | <partial name="_BackToList" />
			</div>
		</div>
		
	}
	else if (ViewData["ActionName"].ToString() == "Edit")
	{
		@:
		<div class="row form-footer">
			<div class="form-group col-md-6">
				<input type="submit" value="Save" class="btn btn-primary" /> | <partial name="_BackToList" />
			</div>
		</div>
	}
	
}
