<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | Tomorrow's Voices</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/TomorrowsVoice_Toplevel.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light mb-3">
			<!-- bg-white border-bottom box-shadow -->
			<div class="container-md">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1 align-items-md-center">
						<li class="nav-item">
							<!--<a class="navbar-brand d-none d-md-flex" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/TV-Logo2.png" alt="Tomorrow's Voices" style="height: 80px;" /></a>-->
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
								<img src="~/images/TV-Logo2.png" alt="Tomorrow's Voices" class="navbar-brand d-none d-md-inline-block" style="height: 80px;" />Home
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Chapter Menu
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" asp-area="" asp-controller="Chapter" asp-action="Index">Chapters</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Director" asp-action="Index">Directors</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Singer" asp-action="Index">Singers</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Rehearsal" asp-action="Index">Rehearsals</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Rehearsal" asp-action="RehearsalsSummary">Rehearsal Summary</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" id="volunteerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Events Menu
							</a>
							<ul class="dropdown-menu" aria-labelledby="volunteerDropdown">
								<li><a class="dropdown-item" asp-area="" asp-controller="ShiftSignUp" asp-action="Index">Shift Sign-Up</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Volunteer" asp-action="Index">Volunteers</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="Index">Events</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Shift" asp-action="Index">Shift</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Volunteer" asp-action="Email">Send Email Notification</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Admin Actions
							</a>
							<ul class="dropdown-menu" aria-labelledby="adminDropdown">
								<li><a class="dropdown-item" asp-area="" asp-controller="Singer" asp-action="Upload">Upload Singers</a></li>
							</ul>
						</li>
					</ul>

					<!--<partial name="_LoginPartial" />-->
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<div class="spacer" style="height: 75px; width: 100%;"></div>
	<footer class="footer text-muted">
		<div class="footer-container">
		</div>
		<div class="container" style="color: #4D5456;">
			<img src="~/images/TopLevel_badge.png" alt="Black Logo for Top Level with white styilized text" style="height: 30px;" />
			&copy; 2025 Top Level
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("NToastNotify")
</body>
</html>