@model IEnumerable<TomorrowsVoice_Toplevel.Models.Volunteering.VolunteerGroup>

@foreach (var item in Model)
{
	<li class="p-1 row align-items-center m-2 rounded-3" style="border:1px solid #e9ecef;">
		hello
	</li>
}