@model TomorrowsVoice_Toplevel.Models.Chapter

<div style="display: grid; place-content: center;">
	<partial name="_ViewHeading" />
	<form asp-action="Edit" class="form-container">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="ID" />
		<input type="hidden" asp-for="RowVersion" />

		<div class="row g-4 my-3 form-area justify-content-md-center" style="margin-top: 0px !important;">
			<div class="col-md-4">
				<div class="form-floating required">
					<input asp-for="Name" class="form-control" placeholder="Name" />
					<label asp-for="Name" class="control-label"></label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-floating required">
					<select asp-for="Province" class="form-control" asp-items="Html.GetEnumSelectList<Province>()"></select>
					<label asp-for="Province" class="control-label"></label>
					<span asp-validation-for="Province" class="text-danger"></span>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-md-4">
				<div class="form-floating required">
					<input asp-for="Address" class="form-control" placeholder="Address" />
					<label asp-for="Address" class="control-label"></label>
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-floating required">
					<input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
					<label asp-for="PostalCode" class="control-label"></label>
					<span asp-validation-for="PostalCode" class="text-danger"></span>
				</div>
			</div>
		</div>
		<partial name="_FormFooter" />

	</form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}