@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift
@{

	Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}
<partial name="_ViewHeading" />
<form asp-action="Create" class="form-container" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" name="EventID" value="@ViewData["EventID"]" />
	<div class="row g-2 my-3 form-area justify-content-md-center" style="margin-top: 0px !important;">

		<h2>@ViewData["Event"]</h2>
		<div class="w-100" style="margin:0px;"></div>

		<div class="col-md-3">
			<div class="form-floating required ">

				<input asp-for="VolunteersNeeded" class="form-control" />
				<label asp-for="VolunteersNeeded" class="control-label"></label>
				<span asp-validation-for="VolunteersNeeded" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="ShiftDate" max="9999-12-12" class="form-control" />
				<label asp-for="ShiftDate" class="control-label"></label>
				<span asp-validation-for="ShiftDate" class="text-danger"></span>
			</div>
		</div>

		<div class="w-100" style="margin:10px;"></div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="StartAt" class="form-control" />
				<label asp-for="StartAt" class="control-label"></label>
				<span asp-validation-for="StartAt" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="EndAt" class="form-control" />
				<label asp-for="EndAt" class="control-label"></label>
				<span asp-validation-for="EndAt" class="text-danger"></span>
			</div>
		</div>
		
	

		

		@* Input for total number of active singers per chapter *@

	</div>
	<partial name="_FormFooter" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/multiselect.js"></script>

	<script>
	
		$("form").submit(function (event) {
		
			var startAt = $("#StartAt").val();
			var endAt = $("#EndAt").val();

			
			if (startAt > endAt) {
				
					event.preventDefault();

					
					alert("Start time cannot be later than End time.");
				}
			
		});
	</script>

	<script type="text/javascript">
		function fillFields() {
			$.ajax({
				url: '@Url.Action("GetShiftData", "Shift")',
				type: 'GET',
				success: function (data) {
					document.getElementById('ShiftDate').value = "2025-11-30"
					document.getElementById('StartAt').value = "10:00";
					document.getElementById('EndAt').value = "14:00";
					document.getElementById('VolunteersNeeded').value = 5;
					document.getElementById('EventID').value = 5;
				}
			})
		}
	</script>

}