@model TomorrowsVoice_Toplevel.Models.Volunteering.Shift
@{

	Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}
<partial name="_ViewHeading" />

<div>
	<dl class="row">
		<div class="col-auto">
			<strong>@Model.TimeSummary</strong>
			<hr />
			<p>Volunteers: @Model.UserShifts.Count()/@Model.VolunteersNeeded</p>
			@foreach(var v in Model.UserShifts)
			{
				<p>
					@v.User.NameFormatted
					@if (v.User is Director)
					{
						<span> - Director</span>
					}
				</p>
			}
		</div>
		<div class="col-6" style="max-height:350px;">
			<div class="ml-3" style="max-height: 100%;overflow-y: scroll;overflow-x: clip;" id="chatbox"></div>
		</div>
	</dl>
</div>



<div>
	<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
	<a asp-controller="Shift" asp-action="Index" asp-route-EventID="@Model?.ID">Back to List</a> |
	<!--Link to sign up for this shift that only shows up if volunteers are needed-->
	@{
		if (Model.VolunteersNeeded > Model.UserShifts.Count())
		{
			<a asp-controller="ShiftSignUp" asp-action="Details" asp-route-id="@Model.ID">Sign Up</a>
		}
		else
		{
			<a disabled>No more volunteers needed</a>
		}
	}
</div>
