@model TomorrowsVoice_Toplevel.ViewModels.HomeVolunteerVM
<div class="row mt-5">
	<div class="col-5">
		<div class="card_dash">
				<div class="dash_progress">
					<div class="outer">
						<div class="inner">
							<div id="number">
							</div>
						</div>
					</div>

					<svg id="svgHours" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
						<defs>
							<linearGradient id="GradientColour">
								<stop offset="0%" stop-color="#DA22FF" />
								<stop offset="100%" stop-color="#9733EE" />
							</linearGradient>
						</defs>
						<circle cx="80" cy="80" r="70" transform="rotate(-90 80 80)" stroke-linecap="round" />
					</svg>
				</div>
			<p class="card-subtitle mb2 text-muted">
				<h5 class="card-title">
					@($"You're {Model.Progress}% to your goal of {Model.HourlyGoal} hours!")
				</h5>
				@($"You have volunteered {Math.Round(Model.TimeWorked.TotalHours, 2)} hours this year.")
				<div class="hstack align-self-center">
					<a href="#" class="card-link">Set a New Goal</a>
					<a href="#" class="card-link ps-3" style="border-left:2px solid #000;">See My Completed Shifts</a>
				</div>
			</p>
		</div>
	</div>

	<div class="col-5 offset-2">
		<div class="card_dash">
			<div class="card-body">
				<h5 class="card-title">
					Your Upcoming Shifts
				</h5>
				<ul class="list-group list-group-flush">
					@{
						if (Model.Shifts.Where(s => s.StartAt > DateTime.Today).Count() == 0)
						{
							<li class="list-group-item"><a class="card-link" asp-area="" asp-controller="Event" asp-action="Index">There's nothing here, click this to see available shifts!</a></li>
						}
						else
						{
							foreach (var shift in Model.Shifts.OrderByDescending(s => s.StartAt).Where(s => s.StartAt > DateTime.Today).Take(3))
							{
								<li class="list-group-item">@Html.Raw($"{shift?.Event?.Name ?? shift?.Title ?? "(no title)"} on {shift?.DateFormat}")</li>
							}
						}
					}
				</ul>
			</div>
		</div>
	</div>
</div>