@{
	ViewData["Title"] = "Home Page";
}
<h1>Dashboard</h1>
<div class="card-deck">
	<!-- Chapters -->
	<div class="card text-black bg-red mx-md-1 mx-lg-3 d-none d-md-table-cell">
		<div class="card-body row">
			<div class="col-md col-lg-10 col-xl-8">
				<p>
					<strong><span id="chapterCount" /></strong>
				</p>
				<!--<h5 class="card-title"><span id="chapterCount"></span><br />Chapters</h5>-->
			</div>
			<div id="trebleclef" class="d-none d-lg-block col-lg-2 col-xl-4 img-icon"></div>
		</div>
		<div class="card-footer bg-dark-red">
			<a href="Chapter" class="btn stretched-link" style="width: 100%; color: black !important;">Show Chapters</a>
		</div>
	</div>

	<!-- Director -->
	<div class="card text-black bg-blue mx-md-1 mx-lg-3 d-none d-md-table-cell">
		<div class="card-body row">
			<div class="col-md col-lg-10 col-xl-8">
				<p>
					<strong><span id="directorCount" /></strong>
				</p>
			</div>
			<div id="speechbubble" class="d-none d-lg-block col-lg-2 col-xl-4 img-icon"></div>

		</div>
		<div class="card-footer bg-dark-blue">
			<a href="Director" class="btn stretched-link" style="width: 100%; color: black !important;">Show Directors</a>
		</div>
	</div>

	<!-- Singers -->
	<div class="card text-black bg-green mx-md-1 mx-lg-3 d-none d-md-table-cell">
		<div class="card-body row">
			<div class="col-md col-lg-10 col-xl-8">
				<p>
					<strong><span id="singerCount" /></strong>
				</p>
			</div>
			<div id="microphone" class="d-none d-lg-block col-lg-2 col-xl-4 img-icon"></div>
		</div>
		<div class="card-footer bg-dark-green">
			<a href="Singer" class="btn stretched-link" style="width: 100%; color: black !important;">Show Singers</a>
		</div>
	</div>

	<!-- Rehearsals -->
	<div class="card text-black bg-yellow mx-md-1 mx-lg-3 d-none d-md-table-cell">
		<div class="card-body row">
			<div class="col-md col-lg-10 col-xl-8">
				<p>
					<strong><span id="rehearsalCount" /></strong>
				</p>
			</div>
			<div id="note" class="d-none d-lg-block col-lg-2 col-xl-4 img-icon"></div>
		</div>
		<div class="card-footer bg-dark-yellow">
			<a href="Rehearsal" class="btn stretched-link" style="width: 100%; color: black !important;">Show Rehearsals</a>
		</div>
	</div>
</div>

<div class="row g-4 my-3">
	<div class="col-md-9">
		<div class="form-footer">
			<h2>Rehearsals</h2>
		</div>
		<div class="form-area">
			<div id='calendar'></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-footer">
			<h2>Events</h2>
		</div>
		<div class="form-area">
			<p>
				<span>Coming Soon</span>
			</p>
		</div>
	</div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Rehearsals</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>-->
@section Scripts {
	<script src="~/js/rehearsalCalendar.js"></script>
	<script>
		/*document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				themeSystem: 'bootstrap5',
				events: '/Rehearsal/GetRehearsals',
				eventDisplay: 'block',
				headerToolbar: {
					start: 'title',
					center: '',
					end: 'prev,next today'
				},
				navLinks: true,
				navLinkDayClick: function (date) { window.location.href = '/Rehearsal/SetRehearsal?date=' + date.toISOString().split('T')[0] }
				//'/Rehearsal/SetRehearsal'
				//window.location.href = '/Rehearsal/Create';
					//?date=' + date.toISOString().split('T')[0]
			});
			calendar.render();
		});*/
	</script>
	<script type="text/javascript">
		$('#singerCount').load('/Home/SingerCount');
		$('#rehearsalCount').load('/Home/RehearsalCount');
		$('#directorCount').load('/Home/DirectorCount');
		$('#chapterCount').load('/Home/ChapterCount');
		/*$('#singerCount').load('/Singer/SingerCount', function(response) {
					// Assuming the response is a number
					document.getElementById('singerCount').innerText = response;
				});*/
		// Simulated data for counts

	</script>
}