@model TomorrowsVoice_Toplevel.ViewModels.HomeVM
@* @{

	Layout = "~/Views/Shared/_RehearsalLayout.cshtml";

}
@{
	Layout = "_RehearsalLayout";
	ViewData["Title"] = "Home Page";
}
<h1>Dashboard</h1> *@
<div class="card-deck">
	<!-- Chapters -->
	<a class="card text-black bg-red mx-md-1 mx-lg-3 d-none d-md-table-cell" asp-area="" asp-controller="Chapter" asp-action="Index">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
			<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
		</svg>
		<div class="card-body fs-3 d-flex align-items-center justify-content-center" style="height:100%;">
			<p>
				<strong><span id="chapter" class="count"> Chapters</span></strong>
			</p>
		</div>
	</a>

	<!-- Director -->
	<a class="card text-black bg-blue mx-md-1 mx-lg-3 d-none d-md-table-cell" asp-area="" asp-controller="Director" asp-action="Index">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-megaphone-fill" viewBox="0 0 16 16">
			<path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25 25 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009l.496.008a64 64 0 0 1 1.51.048m1.39 1.081q.428.032.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a66 66 0 0 1 1.692.064q.491.026.966.06" />
		</svg>
		<div class="card-body fs-3 d-flex align-items-center justify-content-center" style="height:100%;">
			<p>
				<strong><span id="director" class="count"> Directors</span></strong>
			</p>
		</div>
	</a>

	<!-- Singers -->
	<a class="card text-black bg-green mx-md-1 mx-lg-3 d-none d-md-table-cell" asp-area="" asp-controller="Singer" asp-action="Index">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
			<path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
			<path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
		</svg>
		<div class="card-body fs-3 d-flex align-items-center justify-content-center" style="height:100%;">
			<p>
				<strong><span id="singer" class="count"> Singers</span></strong>
			</p>
		</div>
	</a>

	<!-- Rehearsals -->
	<a class="card text-black bg-yellow mx-md-1 mx-lg-3 d-none d-md-table-cell" asp-area="" asp-controller="Rehearsal" asp-action="Index">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
			<path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13s1.12-2 2.5-2 2.5.896 2.5 2m9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2" />
			<path fill-rule="evenodd" d="M14 11V2h1v9zM6 3v10H5V3z" />
			<path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4z" />
		</svg>
		<div class="card-body fs-3 d-flex align-items-center justify-content-center" style="height:100%;">
			<p>
				<strong><span id="rehearsal" class="count"> Rehearsals</span></strong>
			</p>
		</div>
	</a>


</div>





<div class="row g-4 my-3">
	<div class="col-md-9">
		<div class="form-footer">
			<h2>Rehearsals</h2>
		</div>
		<div class="form-area">
			<div id='calendar'></div>
		</div>
	</div>

</div>

@section Scripts {
	<script src="~/js/rehearsalCalendar.js"></script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			var duration = 2000;

			var chapter = document.getElementById('chapter');
			var chapterCount = @Model.ChapterCount;
			chapter.animate([
				{ '--num': 0 },
				{ '--num': chapterCount }
			], {
				duration: duration,
				fill: 'forwards',
				iterations: 1
			});

			var director = document.getElementById('director');
			var directorCount = @Model.DirectorCount;
			director.animate([
				{ '--num': 0 },
				{ '--num': directorCount }
			], {
				duration: duration,
				fill: 'forwards',
				iterations: 1
			});

			var singer = document.getElementById('singer');
			var singerCount = @Model.SingerCount;
			singer.animate([
				{ '--num': 0 },
				{ '--num': singerCount }
			], {
				duration: duration,
				fill: 'forwards',
				iterations: 1
			});

			var rehearsal = document.getElementById('rehearsal');
			var rehearsalCount = @Model.RehearsalCount;
			rehearsal.animate([
				{ '--num': 0 },
				{ '--num': rehearsalCount }
			], {
				duration: duration,
				fill: 'forwards',
				iterations: 1
			});


		});
	</script>
}