html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Form Styling */
.form-container {
    width: fit-content;
    box-shadow: 0 2px 10px #0000001f;
}

.form-area {
    border: 2px solid #e9ebf0;
    box-sizing: inherit;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: -1rem !important;
    margin-left: 0px;
    margin-right: 0px;
}

.form-footer {
    padding: 1rem;
    background-size: cover;
    background-position: bottom;
    background-color: #e9ebf0;
    margin-left: 0px;
    margin-right: 0px;
}

.form-control:focus {
    border-color: #C686FE;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #8f3796;
}
/* Required Form Control Asterisk */
.form-floating.required .control-label:after,
.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.form-floating.optional .control-label:after,
.form-group.optional .control-label:after {
    content: " (optional)";
}

.form-floating > .form-control, .form-floating > .form-select {
    height: calc(2.5rem + 2px);
    line-height: 1.25;
}

.form-floating > .control-label {
    color: rgb(104 114 129);
    width: fit-content;
    height: fit-content;
    padding: .5rem;
}

.form-floating > .form-control {
    padding: .5rem;
}
    /* Overwrite Bootstrap5 floating label*/
    .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-select ~ label {
            background-color: white;
            color: rgb(104 114 129);
            opacity: 1;
            transform: scale(.85) translateY(-1.25rem) translateX(.5rem);
            padding: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }

.card .control-label {
    background-color: rgba(247,248,249, 0.95) !important;
    font-weight: initial !important;
    font-size: initial !important;
}

.card .form-floating > label {
    top: 5px;
}
/*
/* Form Floating
.form-floating > .form-control {
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    line-height: 1.5;
    height: calc(2.5rem + 2px);
}

.form-floating > label {
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

/* Overwrite Bootstrap5 floating label
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    background-color: white;
    color: rgb(104 114 129);
    opacity: 1;
    transform: scale(.85) translateY(-1.4rem) translateX(.5rem);
    height: auto;
    width: auto;
    padding: .5rem;
}
*/

/* Footer Image */
footer {
    background-image: url(../images/FOOTER2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #fff !important;
}

.footer-container {
    margin-top: 50px;
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

header {
    background-image: url(../images/HEADER2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #fff !important;
    padding-bottom: 25px;
}

/* Custom Bootstrap Theme */
.btn-primary {
    background-color: #8f3796;
    border-color: #8f3796;
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(198, 134, 254, .1),0 3px 1px -2px rgba(198, 134, 254, .18),0 1px 5px 0 rgba(198, 134, 254, .15);
}

    .btn-primary:hover, .btn-primary:focus {
        background: linear-gradient(to bottom, #8f3796, #611667);
        border-color: #8f3796;
    }

.btn-outline-primary {
    border-width: 1.5px;
    border-color: #8f3796;
    color: #8f3796;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #8f3796;
        border-color: #8f3796;
    }

.btn-outline-dark {
    border-width: 1.5px;
    color: #8f3796;
}

    .btn-outline-dark:hover {
        color: #C686FE;
    }

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    background-color: #8f3796;
    border-color: #8f3796;
}

.btn-link {
    color: #372BE9;
    text-decoration: none;
}

    .btn-link:hover {
        color: #C686FE;
    }

/* Header / Nav Styling */
a {
    color: #372BE9 /*rgb(157, 43, 157)*/;
    text-decoration: none;
}

    a:hover {
        color: #8f3796;
    }

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #8f3796;
}

.page-item.active .page-link {
    background-color: #8f3796;
    border-color: #8f3796;
}

.page-link {
    color: #8f3796;
}

    .page-link:hover {
        color: #611667;
    }

/* Tabs */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #8f3796;
}

.nav-link {
    color: #8f3796;
}

    .nav-link:focus, .nav-link:hover {
        color: #611667;
    }
/* Select2 Custom Styling */
/*THIS IS THE HOVER!
    .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    color: #000;
    background-color: #8f3796 !important;
}*/
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    color: #fff;
    background-color: #8f3796 !important;
}

.card-deck {
    display: flex;
    flex-direction: row;
}

    .card-deck > .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-bottom: 0px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

.card {
    font-weight: bold;
    font-size: large;
}

    .card h5, .card a {
        font-weight: bold;
    }
/* Custom Colours */
.bg-red {
    background-color: #eb6363;
}
/*d25a5a*/
.bg-dark-red {
    background-color: #d25a5a;
}
/*5dc98c*/
.bg-green {
    background-color: #5dc98c;
}
/*53b47e*/
.bg-dark-green {
    background-color: #53b47e;
}

.bg-yellow {
    background-color: #f5c344;
}

.bg-dark-yellow {
    background-color: #dcaf3d;
}

.bg-blue {
    background-color: #4ca3d4;
}

.bg-dark-blue {
    background-color: #4393bf;
}

.img-icon {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#microphone {
    background-image: url(../images/Microphone.png);
}

#note {
    background-image: url(../images/Note.png);
}

#speechbubble {
    background-image: url(../images/SpeechBubble.png);
}

#trebleclef {
    background-image: url(../images/TrebleClef.png);
}