:root {
    --primary: #8f3796;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

body {
    font-family: Montserrat, Arial, Tahoma, sans-serif;
    margin-bottom: 60px;
}

/* Header Styling */
h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 3rem;
}

/* Form Styling */
.form-container {
    width: fit-content;
    box-shadow: 0 2px 10px #0000001f;
}

.form-area {
    border: 2px solid #e9ebf0;
    box-sizing: inherit;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: -1rem !important;
    margin-left: 0px;
    margin-right: 0px;
}

.form-footer {
    padding: 1rem;
    background-size: cover;
    background-position: bottom;
    background-color: #e9ebf0;
    margin-left: 0px;
    margin-right: 0px;
}

.form-control:focus {
    border-color: #C686FE;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--primary);
}
/* Required Form Control Asterisk */
.form-floating.required .control-label:after,
.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.form-floating.optional .control-label:after,
.form-group.optional .control-label:after {
    content: " (optional)";
}

/*.form-floating > .form-control, .form-floating > .form-select {
    height: calc(2.5rem + 2px);
    line-height: 1.25;
}

.form-floating > .control-label {
    color: rgb(104 114 129);
    width: fit-content;
    height: fit-content;
    padding: .5rem;
}

.form-floating > .form-control {
    padding: .5rem;
}*/
/* Overwrite Bootstrap5 floating label*/
/*.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-select ~ label {
            background-color: white;
            color: rgb(104 114 129);
            opacity: 1;
            transform: scale(.85) translateY(-1.25rem) translateX(.5rem);
            padding: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }*/

.card .control-label {
    background-color: rgba(247,248,249, 0.95) !important;
    font-weight: initial !important;
    font-size: initial !important;
}

.card .form-floating > label {
    top: 5px;
}

.card > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 15%;
    padding: 5px;
}

.card-body > p {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Card Counters */
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --rehearsal {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.count {
    counter-reset: num var(--num);
    animation: updateNum 5s forwards;
}

@keyframes updateNum {
    from {
        --num: 0;
    }

    to {
        --num: var(--num);
    }
}

.count::before {
    content: counter(num);
}

.bd-callout {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

/*
/* Form Floating
.form-floating > .form-control {
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    line-height: 1.5;
    height: calc(2.5rem + 2px);
}

.form-floating > label {
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

/* Overwrite Bootstrap5 floating label
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    background-color: white;
    color: rgb(104 114 129);
    opacity: 1;
    transform: scale(.85) translateY(-1.4rem) translateX(.5rem);
    height: auto;
    width: auto;
    padding: .5rem;
}
*/

/* Footer Image */
footer {
    background-image: url(../images/FOOTER2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #fff !important;
}

.footer-container {
    margin-top: 50px;
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

header {
    background-image: url(../images/HEADER2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #fff !important;
    padding-bottom: 25px;
}

/* Custom Bootstrap Theme */

/* Grid */
.offset-02 {
    margin-left: 2%;
}

/* Table */
.table-group-divider {
    border-top: 2px solid currentcolor;
}

td > .btn {
    font-family: 'Segoe UI Emoji';
}

th {
    position: relative;
}

    th .sort-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

.fa-sort, .fa-sort-up, .fa-sort-down {
    opacity: 50%;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(198, 134, 254, .1),0 3px 1px -2px rgba(198, 134, 254, .18),0 1px 5px 0 rgba(198, 134, 254, .15);
}

    .btn-primary:hover, .btn-primary:focus {
        background: linear-gradient(to bottom, var(--primary), #611667);
        border-color: var(--primary);
    }

.btn-outline-danger {
    color: #E05242;
    border-color: #E05242;
}

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #E05242;
        border-color: #E05242;
    }

    .btn-outline-danger:active {
        background-color: #E05242;
        border-color: #E05242;
    }

.btn-success {
    background-color: #5EA253;
    border-color: #5EA253;
}
.btn-success:hover {
    color: #fff;
    background-color: #5EA253;
    border-color: #5EA253;
}

.btn-success:active {
    color: #fff;
    background-color: #5EA253;
    border-color: #5EA253;
}
.btn-outline-success {
    color: #5EA253;
    border-color: #5EA253;
}

    .btn-outline-success:hover {
        color: #fff;
        background-color: #5EA253;
        border-color: #5EA253;
    }

    .btn-outline-success:active {
        color: #fff;
        background-color: #5EA253;
        border-color: #5EA253;
    }

.btn-detail {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-detail:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-outline-detail {
    color: #3a70df;
    border-color: #3a70df;
}

    .btn-outline-detail:hover {
        color: #fff;
        background-color: #3a70df;
        border-color: #3a70df;
    }

    .btn-outline-detail:active {
        color: #fff;
        background-color: #3a70df;
        border-color: #3a70df;
    }

.btn-outline-primary:not(#crud) {
    border-width: 1.5px;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:hover:not(#crud) {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-dark {
    border-width: 1.5px;
    color: var(--primary);
}

    .btn-outline-dark:hover {
        color: #C686FE;
    }

.btn-check:active + .btn-outline-primary:not(#crud), .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active:not(#crud) {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-group > .btn-check + .btn-light {
    border-color: #ced4da;
}

.btn-group > .btn-check:checked + .btn-light {
    background-color: #712ab7;
    border-color: #541a9b;
    color: white;
}

.btn-link {
    color: #372BE9;
    text-decoration: none;
}

    .btn-link:hover {
        color: #C686FE;
    }

th > .btn {
    padding: 0px !important;
    font-weight: bold;
}

dd {
    margin-bottom: 0px;
}

    dd > .btn-link {
        padding: 0px;
    }

/* Header / Nav Styling */
a {
    color: #372BE9 /*rgb(157, 43, 157)*/;
    text-decoration: none;
}

    a:hover {
        color: var(--primary);
    }

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary);
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-link {
    color: var(--primary);
}

    .page-link:hover {
        color: #611667;
    }

/* Tabs */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary);
}

.nav-link {
    color: var(--primary);
}

    .nav-link:focus, .nav-link:hover {
        color: #611667;
    }
/* Select2 Custom Styling */
/*THIS IS THE HOVER!
    .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    color: #000;
    background-color: var(--primary) !important;
}*/
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    color: #fff;
    background-color: var(--primary) !important;
}

.card-deck {
    display: flex;
    flex-direction: row;
}

    .card-deck > .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-bottom: 0px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

.card {
    font-size: large;
}

    .card a {
        font-weight: bold;
    }
/* Custom Colours */
.bg-red {
    background-color: #E8A4A1;
}
/*d25a5a*/
.bg-dark-red {
    background-color: #DD7973;
}
/*5dc98c*/
.bg-green {
    background-color: #87C099;
}
/*53b47e*/
.bg-dark-green {
    background-color: #58A771;
}

.bg-yellow {
    background-color: #eee29f;
}

.bg-dark-yellow {
    background-color: #e2d04c;
}

.bg-blue {
    background-color: #78BEC9;
}

.bg-dark-blue {
    background-color: #47A4B3;
}

.img-icon {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

/* Toaster Notification */

.toast-success {
    box-shadow: none !important;
}

/*  Shift Modal */
/* The Modal (background) */
/*.modal {
    display: none;*/ /* Hidden by default */
/*position: fixed;*/ /* Stay in place */
/*z-index: 1;*/ /* Sit on top */
/*left: 0;
    top: 0;
    width: 100%;*/ /* Full width */
/*height: 100%;*/ /* Full height */
/*overflow: auto;*/ /* Enable scroll if needed */
/*background-color: rgb(0,0,0);*/ /* Fallback color */
/*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
/*}*/

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Select2 Styling */
.select2-selection--single {
    border: 0px !important
}

.select2-selection__rendered {
    padding: 0px !important;
}

.dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
/* Site Shift / Event Colours */
.blue {
    background-color: #467ECE;
}

.purple {
    background-color: #9944bc;
}

.red {
    background-color: #d3162b;
}

.brown {
    background-color: #804205;
}

.magenta {
    background-color: #aa394f;
}

.pink {
    background-color: #F6CBDF;
}

.green {
    background-color: #D7E3C0;
}

.yellow {
    background-color: #f5e0ac;
}

.lightblue {
    background-color: #BFD6E9;
}

.lightpurple {
    background-color: #d8cbe7;
}

@property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@keyframes progress-animation {
    from {
        stroke-dasharray: 0 calc(var(--circumference));
    }

    to {
        stroke-dasharray: calc(var(--max) * var(--circumference) / 100) calc(var(--circumference) - (var(--max) * var(--circumference) / 100));
    }
}

.circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * 3.141592653589793 * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
}

    .circular-progress circle {
        cx: var(--half-size);
        cy: var(--half-size);
        r: var(--radius);
        stroke-width: var(--stroke-width);
        fill: none;
        stroke-linecap: round;
    }

        .circular-progress circle.bg {
            stroke: #ddd;
        }

        .circular-progress circle.fg {
            transform: rotate(-90deg);
            transform-origin: var(--half-size) var(--half-size);
            /*  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
            transition: stroke-dasharray 0.3s linear 0s;*/
            stroke: var(--primary);
            animation: progress-animation 5s linear 0s 1 forwards;
        }
.circle-text {
    width:250px;
    height:250px;
    font-size: 4rem;
    font-weight: bold;
    fill: #5394fd;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Circle Fill */

.card-category {
    margin: 0 0 0 0 !important;
    font-size: 0.875em !important;
    font-weight: 500 !important;
    line-height: 3rem !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0,0,0, 0.15), 0px 12px 10px -10px rgba(0,0,0, 0.05);
    border-radius: 50%;
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 30px;
}

circle {
    fill: none;
    stroke: url(#GradientColour);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}

#svgHours {
    position: absolute;
    top: 0;
    left: 0;
}

.card_dash {
    font-size: large;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem;
    flex: 1 1 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 30px rgba(100, 131, 177, 0.2);
}

    .card_dash > h5 {
        font-size: larger;
        letter-spacing: 1.2px;
        margin-bottom: 1rem;
        color: var(--primary);
    }

.dash_progress {
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:2rem;
}

.dashboard .card-title {
    color: var(--primary);
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.scrollable-activity {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}

.admin-card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.dashboard .info-card {
    padding-bottom: 10px;
}