@model IEnumerable<TomorrowsVoice_Toplevel.ViewModels.RehearsalViewModelDetails>

<h2>@ViewData["City"] Rehearsal Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Rehearsal Date</th>

            <th>Attendance </th>

            <th>Attendance rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>@detail.Rehearsal_Date.ToShortDateString()</td>

                <td>@detail.Number_Of_Singers</td>

                <td>@detail.Attendance_Rate</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="RehearsalsSummary"
  >Back to Summary</a>