@model TomorrowsVoice_Toplevel.Models.Volunteering.Event
@{

	Layout = "~/Views/Shared/_EventAdminLayout.cshtml";

}
<partial name="_ViewHeading" />
<form asp-action="Create" class="form-container" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row g-2 my-3 form-area justify-content-md-center" style="margin-top: 0px !important;">
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="StartDate" max="9999-12-12" class="form-control" id="startDate" />
				<label asp-for="StartDate"  class="control-label"></label>
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="EndDate" id="endDate" class="form-control" max="9999-12-12" />
				<label asp-for="EndDate" class="control-label"></label>
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
		</div>
		<div class="w-100" style="margin:10px;"></div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="Name" class="form-control" />
				<label asp-for="Name" class="control-label"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-floating required">
				<input asp-for="Location" class="form-control" />
				<label asp-for="Location" class="control-label"></label>
				<span asp-validation-for="Location" class="text-danger"></span>
			</div>
		</div>
		<div class="w-100" style="margin:0px;"></div>

		<div class="w-100" style="margin:0px;"></div>
		<div class="col-md-6">
			<div class="row">
				<div class="form-group col-md">
					<label class="control-label"> City Enrolled</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
						<strong>-</strong>
					</button>
					@Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
				</div>
				<div class="form-group col-md">
					<label class="control-label"> Choose City</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
						<strong>+</strong>
					</button>
					@Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
				</div>
			</div>
		</div>

		<div class="w-100" style="margin:0px;"></div>
		<div class="col-md-6">
			<div class="form-floating my-4">
				<textarea asp-for="Descripion" class="form-control" style="height: 100px" placeholder="Notes"></textarea>
				<label asp-for="Descripion" class="control-label"></label>
				<span asp-validation-for="Descripion" class="text-danger"></span>
			</div>
		</div>
		@* Input for total number of active singers per chapter *@

	</div>
	<partial name="_FormFooter" />
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script src="~/js/multiselect.js"></script>

	<script>
		
		$("form").submit(function (event) {
			
			var startDate = $("#startDate").val();
			var endDate = $("#endDate").val();

			var startDateObj = new Date(startDate);
			var endDateObj = new Date(endDate);

			if (startDateObj > endDateObj) {
				
				event.preventDefault();

				alert("Start Date cannot be greater than End Date.");
			}
		});
	</script>

	<script type="text/javascript">
		function fillFields() {
			$.ajax({
				url: '@Url.Action("GetEventData", "Event")',
				type: 'GET',
				success: function (data) {
					document.getElementById('startDate').value = "2025-11-30"
					document.getElementById('endDate').value = "2025-12-22";
					document.getElementById('Name').value = "Sas Gift Wrapping - 2025";
					document.getElementById('Location').value = "Midtown, Saskatoon";
					document.getElementById('availOptions').value = 4;
				}
			})
		}
	</script>

}