@model TomorrowsVoice_Toplevel.Models.Singer

<partial name="_ViewHeading" />

<form asp-action="Edit" method="post" class="form-container">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="ID" />
	<input type="hidden" asp-for="RowVersion" />

	<div class="row g-4 my-3 form-area">
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="FirstName" class="form-control" placeholder="First Name" />
				<label asp-for="FirstName" class="control-label"></label>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating optional">
				<input asp-for="MiddleName" class="form-control" placeholder="Middle Name (optional)" />
				<label asp-for="MiddleName" class="control-label"></label>
				<span asp-validation-for="MiddleName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="LastName" class="form-control" placeholder="Last Name" />
				<label asp-for="LastName" class="control-label"></label>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="Email" class="form-control" placeholder="Email" />
				<label asp-for="Email" class="control-label"></label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="ContactName" class="form-control" placeholder="Emergency Contact Name" />
				<label asp-for="ContactName" class="control-label"></label>
				<span asp-validation-for="ContactName" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				<input asp-for="Phone" class="form-control" placeholder="Emergency Contact Number" />
				<label asp-for="Phone" class="control-label"></label>
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-floating required">
				@Html.DropDownListFor(model => model.ChapterID, ViewBag.Chapters as SelectList, "Select a Chapter", new { @class = "form-control" })
				<!--<select asp-for="ChapterID" class="form-control" asp-items="ViewBag.ChapterID"></select>-->
				<label asp-for="ChapterID" class="control-label"></label>
				<span asp-validation-for="ChapterID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group col-md-4 required">
			<div class="form-floating required">
				<select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
				<label asp-for="Status" class="control-label"></label>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-floating">
				<textarea asp-for="Note" class="form-control" style="height: 100px" placeholder="Notes"></textarea>
				<label asp-for="Note" class="control-label"></label>
				<span asp-validation-for="Note" class="text-danger"></span>
			</div>
		</div>
	</div>
	<partial name="_FormFooter" />

</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}