@model TomorrowsVoice_Toplevel.Models.Events.Singer

<partial name="_ViewHeading" />
<div class="text-danger">@Html.Raw(TempData["Feedback"])</div>
<form asp-action="InsertFromExcel" asp-controller="Singer" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label custom-file-label">Upload Singers by Excel File:</label>
				<div class="input-group mb-3">
					<input type="file" class="form-control" name="theExcel" id="theExcel">
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="Upload Data" class="btn btn-primary" />
			</div>
		</div>
		<div class="col-md-8 offset-md-1">
			<p>
				Please follow the column order exactly as shown:
				<br /><strong>FirstName, MiddleName, LastName, Email, ContactName, Phone, Chapter, Note.</strong>
				<br />The first row must have the headers.
				<br />From the second row onward, enter each person's details in a new row under the correct column.
				<br />The program checks these headers to ensure the file is correct.
			</p>

		</div>
		<div class="col g-0 ms-auto d-flex justify-content-evenly justify-content-md-end">
			@* <a asp-action="Create" class="btn btn-primary col-auto h-100"><i class="bi bi-person-plus-fill"></i> Add @ViewData["ControllerFriendlyName"]</a> *@
			<a asp-action="Sample" class="btn btn-detail col-auto h-100 ms-4" style="float: right;"><i class="bi bi-download"></i> Sample Excel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-4">
			<p>
				<h2>Excel Formatting Example</h2>
			</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>FirstName</th>
						<th>MiddleName</th>
						<th>LastName</th>
						<th>Email</th>
						<th>ContactName</th>
						<th>Phone</th>
						<th>Chapter</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cecil</td>
						<td>Gershwin</td>
						<td>Palmer</td>
						<td>cRobles@gmail.com</td>
						<td>Carlos Robles</td>
						<td>9055551409</td>
						<td>St. Catharines</td>
						<td>Has peanut allergies.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>